/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure body is relative for positioning the toast */
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5rem;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    /* font-size: 1rem; */
}

.form-group {
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
textarea {
    resize: none;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    display: none;
}

input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border-color: red;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:hover, textarea:hover {
    border-color: #0154ac;
}

.star {
    color: red;;
}
.form-group-box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 1rem;
}

.term {
    display: flex;
    align-items: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hidden {
    display: none;
}

#successToast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    animation: fadein 1s, fadeout 1s 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.query-type-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 49%;
}
.query-type-box p, .term p {
    color: #444;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .row {
        flex-direction: column;
    }

    .half-width {
        width: 100%;
        margin-bottom: 15px;
    }

    button {
        font-size: 0.9rem;
    }
}
